.text-right{
    text-align: right;
}
.close-x-c{
    top:2px;
    right: 6px;
    position: absolute;
    cursor: pointer;
    
}
.card-item:hover{
    transform: translateY(-3px);
    box-shadow: 0 3px 7px rgba(0, 0, 0,0.3);
    transition: transform .500s ease;
}
.card-body-item{
    position :relative
}