<!-- <app-side-bar></app-side-bar> -->
<div class="container mb-4">
  <div class="row">
    <div class="col-md-6 mx-auto  mt-2">
    <div class="card">
      <div class="card-body">
        <form method="post" [formGroup]="form" (ngSubmit)="envoyer($event)">
          <h1 class="animate__animated animate__slideInDown">Formulaire {{title}}
          </h1>
          <div class="form-group form-row">
              <label for="marque">Marque</label>
              <input type="text" class="form-control" required id="marque" name="marque" formControlName="marque"/>
          </div>
        <div class="form-group form-row text-center mt-2" [ngSwitch]='status'>
          <button *ngSwitchDefault type="submit" class="btn btn-success">Valider</button>
          <button *ngSwitchCase="'encours'" class="btn btn-warning" disabled>encours</button>
          <!-- <button *ngSwitchCase="'erreur'" class="btn btn-danger" disabled>erreur</button> -->

        </div>
          
        </form>
      </div>
    </div>
    </div>
</div>
<div class="row mt-2">
  <div class="col-md-6 mb-2" id="car-{{i}}" *ngFor="let x of car$|async;let i = index">
    <app-car-info [car]="x" [index]="i"></app-car-info>
  </div>

</div>
</div>
<p class="alert alert-danger" *ngIf="(car$|async)?.length===0">Pas de données</p>


<button type="button" class="btn btn-primary" (click)="reload()">Get live data from remote server</button>
<app-card></app-card>